header {
  margin-top: 3%;
}
article {
  text-align: left;
  width: 90%;
  margin-left: 5%;
  font-size: 20px;
}

html, body {
  background-color: #e7e7e7;
  width: 100%;
  margin: 0 auto;
}

.homeprof {
  display: block;
  height: 50px;
  margin: 10px auto 0px auto;
}

.cssbox {
  width: 80%;
  display: block;
  margin: auto;
}

.code {
  background-color: #d5d5cd;
  font-family: monospace;
  padding: 10px;
  text-align: left;
}
.solocode {
  background-color: #d5d5cd;
  font-family: monospace;
  padding: 0px 3px;
}

h1 {
  font-size: 36px;
}
