html, body {
  text-align: center;
  height: 100%;
  vertical-align: middle;
}

header {
  font-family: sans-serif;
  margin: 8% auto 5px auto;
  padding-top: 25px;
  padding-bottom: 25px;
  text-decoration: none;
  text-align: center;
  width: 60%;
}

header>a {
  text-decoration: none;
  padding: 25px 2%;
  color: #004b7e;
  font-family: sans-serif;
  font-size: 18px;
  white-space: nowrap;
}

.content {
  background-color: #fff;
  margin: 0px auto;
  padding: 10px 0px 10px 0px;
  width: 60%;
}
.homeimg {
  width: 60%;
}

.homeimg.center {
  display: block;
}
.mypic {
  height: 100px;
}

.homeprof {
  display: none;
}

.homeprof.center {
  display: block;
  margin: 0 auto;
}

.indextable {
  width: 50%;
  margin: 10px auto;
}

.gfx {
  text-align: left;
}

.desc {
  text-align: right;
}

.desc a {
  color: #505050;
  font-size: 22px;
  text-decoration: none;
}

#map, #horizon, #books, #branch, #classroom, #potato{
  height: 150px;
  width: 180px;
}


footer {
  font-family: sans-serif;
  margin: 0px auto 10px auto;
  padding-top: 25px;
  padding-bottom: 25px;
  text-decoration: none;
  text-align: center;
  width: 60%;
}

footer>a {
  height: 40px;
  padding: 25px 2%;
  text-decoration: none;
}

#linkedin {
  border-radius: 10px;
  height: 40px;
}
#github, #facebook, #twitter {
  height: 40px;
  width: 40px;
}

a:hover {
  color: red;
}

.aboot {
  width: 50%;
  font-size: 20px;
  text-align: left;
  margin: 10px auto;
}

@media screen and (max-width: 480px) {
  header {
    width: 90%;
  }
  header>a {
    padding: 25px 1%;
  }
  .homeimg {
    width: 90%;
  }

  .content {
    width: 95%;
  }
  .aboot {
    width: 85%;
  }
}